

# ignore log files and databases
*.logåååå
*.sql
*.sqlite
*.ipynb_checkpoints
*.pyc

# ignore cache
.idea
.pytest_cache
.DS_Store
__pycache__

# temporals
tmp
_tmp
deleteme*

# pip install
build
dist
netin.egg-info
